Package: piratepack
Version: 1.2-8
Architecture: all
Maintainer: ak <akarmn@gmail.com>
Installed-Size: 11780
Depends: libgtk2.0-dev, libqt4-dev, libevent-dev, libssl-dev, cmake, seahorse-plugins, network-manager-openvpn, pidgin-otr, amule, firefox
Section: unknown
Priority: optional
Homepage: http://www.pirateparty.ca
Description: Pirate Pack
 Enhances your digital freedom.
