Source: piratepack
Section: admin
Priority: optional
Maintainer: Andrew K <akarmn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.piratelinux.org

Package: piratepack
Architecture: all
Depends: ${misc:Depends}, build-essential, libgtk2.0-dev, libqt4-dev, libevent-dev, libssl-dev, libboost-dev, libboost-system-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-thread-dev, cmake, firefox | iceweasel, pidgin-otr, dpkg-dev, perl, zip, unzip, uuid-runtime, ffmpeg
Recommends: amule, ubuntu-restricted-extras, ttf-liberation, florence, seahorse-plugins, network-manager-openvpn
Conflicts: tor
Replaces: tor, libdb4.8-dev, libdb4.8++-dev, libminiupnpc-dev
Description: Pirate Pack
 Enhances your digital freedom.
