Source: piratepack
Section: admin
Priority: optional
Maintainer: Andrew K <akarmn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.piratelinux.org

Package: piratepack
Architecture: all
Pre-Depends: build-essential
Depends: ${misc:Depends}, debhelper, zlib1g, libgtk2.0-dev, libqt4-dev, cmake, firefox | iceweasel, pidgin-otr, perl (>= 5), zip, unzip, uuid-runtime, ffmpeg, qrencode, imagemagick, texinfo
Recommends: amule, ubuntu-restricted-extras, ttf-liberation, florence | onboard, seahorse-plugins, network-manager-openvpn, ekiga, phatch, transmission, lm-sensors
Conflicts: ttf-mscorefonts-installer
Replaces: ttf-mscorefonts-installer
Description: Pirate Pack
 Enhances your digital freedom.
