Source: piratepack
Section: admin
Priority: optional
Maintainer: Andrew K <akarmn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.piratelinux.org

Package: piratepack
Architecture: all
Depends: ${misc:Depends}, libgtk2.0-dev, libqt4-dev, libevent-dev, libssl-dev, cmake, firefox, pidgin-otr, seahorse-plugins, network-manager-openvpn
Recommends: amule, ubuntu-restricted-extras, ttf-liberation, florence
Conflicts: ttf-mscorefonts-installer
Replaces: ttf-mscorefonts-installer
Description: Pirate Pack
 Enhances your digital freedom.
