[Desktop Entry]
Name=Pirate Pack
Exec=piratepack
Icon=piratepack
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=Enhance Your Digital Freedom