Source: piratepack
Section: admin
Priority: optional
Maintainer: Andrew K <akarmn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.piratelinux.org

Package: piratepack
Architecture: any
Depends: ${misc:Depends}, zlib1g, libqt4-network, libqt4-xml, libqtcore4, libqtgui4, libgtk2.0-0, firefox | iceweasel, pidgin-otr, zip, unzip, uuid-runtime, ffmpeg, qrencode, imagemagick
Recommends: amule, ubuntu-restricted-extras, ttf-liberation, florence, seahorse-plugins, network-manager-openvpn
Description: Pirate Pack
 Enhances your digital freedom.
