Source: piratepack
Section: admin
Priority: optional
Maintainer: Andrew K <akarmn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.piratelinux.org

Package: piratepack
Architecture: any
Depends: ${misc:Depends}, libgcc1, libqt4-network, libqt4-xml, libqtcore4, libqtgui4, libssl1.0.0 | libssl0.9.8, libstdc++6, libgtk2.0-0, libboost-system1.42.0 | libboost-system1.40.0, libboost-filesystem1.42.0 | libboost-filesystem1.40.0, libboost-program-options1.42.0 | libboost-program-options1.40.0, libboost-thread1.42.0 | libboost-thread1.40.0, firefox | iceweasel, pidgin-otr, zip, unzip, uuid-runtime, ffmpeg
Recommends: amule, ubuntu-restricted-extras, ttf-liberation, florence, seahorse-plugins, network-manager-openvpn
Conflicts: tor
Replaces: tor
Description: Pirate Pack
 Enhances your digital freedom.
