[Desktop Entry]
Name=Pirate Pack
Exec=piratepack-refresh
Icon=piratepack
Terminal=false
Type=Application
Categories=System
Comment=Enhance Your Digital Freedom
MimeType=application/x-pirate
